<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mhx.spzx.manager.mapper.SysRoleMapper">
    <insert id="save">
        insert into sys_role
            (id, role_name, role_code, description)
        VALUES
            (#{id},#{roleName},#{roleCode},#{description})
    </insert>

    <update id="update">
        update sys_role set
        <if test="roleName !=null and roleName != ''">
            role_name=#{roleName},
        </if>
        <if test="roleCode!=null and roleCode!= ''">
            role_code=#{roleCode},
        </if>
        <if test="description!=null and description!= ''">
            description=#{description},
        </if>
        update_time=now()
        where id=#{id}
    </update>


    <select id="findByPage" resultType="com.mhx.spzx.model.entity.system.SysRole">
        select id,role_name,role_code,description,create_time,update_time,is_deleted
        from sys_role
        <where>
            <if test="roleName !=null and roleName != ''">
                and role_name like CONCAT('%',#{roleName},'%')
            </if>
            and is_deleted = 0
        </where>
        order by id desc
    </select>
    <select id="findAll" resultType="com.mhx.spzx.model.entity.system.SysRole">
        select id,role_name,role_code,description,create_time,update_time,is_deleted
            from sys_role where is_deleted=0;
    </select>
</mapper>